In [1]:
from sklearn.datasets import load_diabetes
import pandas as pd
import numpy as np

In [2]:

X, y = load_diabetes(return_X_y=True)
X = np.c_[np.ones(X.shape[0]), X]
data = load_diabetes()

df = pd.DataFrame(X, columns=["bias"]+data.feature_names)
df["target"] = y

In [3]:
df.head()

   bias       age       sex       bmi  ...        s4        s5        s6  target
0   1.0  0.038076  0.050680  0.061696  ... -0.002592  0.019907 -0.017646   151.0
1   1.0 -0.001882 -0.044642 -0.051474  ... -0.039493 -0.068332 -0.092204    75.0
2   1.0  0.085299  0.050680  0.044451  ... -0.002592  0.002861 -0.025930   141.0
3   1.0 -0.089063 -0.044642 -0.011595  ...  0.034309  0.022688 -0.009362   206.0
4   1.0  0.005383 -0.044642 -0.036385  ... -0.002592 -0.031988 -0.046641   135.0

[5 rows x 12 columns]

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
# Normal equation
theta = np.linalg.inv(X_train.T @ X_train) @ X_train.T @ y_train

predictions = X_test @ theta

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred=predictions)
print(mse)

2900.1936284934795

In [6]:
#SGD

alpha = 0.01
n, d = X_train.shape

theta = np.zeros(d)

epochs = 100
for _ in range(epochs):
    for i in range(n):
        xi, yi = X_train[i], y_train[i]
        theta = theta - alpha*((xi@theta)-yi)*xi

predictions = X_test @ theta
mse = mean_squared_error(y_test, y_pred = predictions)
print(mse)

2942.1154782753742

In [7]:
#BGD
theta = np.zeros(d)
alpha = 0.01
epochs = 1000

for _ in range(epochs):
    grad = np.zeros(d)
    for i in range(n):
        grad += (X_train[i]@theta - y_train[i])*X_train[i]
    theta = theta - 1/n* alpha*grad

predictions = X_test @ theta
mse = mean_squared_error(y_test, predictions)
print(mse)

5010.353588276721